.skillsContainer{
    margin-top: 2rem;
  }
  .skill--box{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-left: 1rem;
  }
  .skill-image{
    width: 100%;
  
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px;
  }
  .skills>h1{
    font-size: 3.05rem;
    margin-bottom: 50px;
    padding: 5px;

    color: var(--subtitle);
  }
  .skills div img{
    width: 80px;
     margin-right:5rem ;
margin-bottom: 2rem;

}