section h1.title{
    display: flex;
    align-items: center;
font-size: 2rem
}
.icon-contact{
    margin-right: 1rem;
    color: var(--title);
    font-size: 2.5rem;
    /* text-align: center; */
}
section p.subtitle{
    margin-bottom: 2rem;
    color: var(--subtitle);
    line-height: 1.65rem;
}
label{
    color: var(--subtitle);
}
section #email , #message{
   all: unset;
   /* padding: ; */
   background-color: rgba(63, 63, 70, 0.15);
   border: 1px solid rgb(63, 63, 70);
   width: 16rem;
   padding:0.5rem .5rem;
   margin-left: 1rem;
   transition: 0.3s;
   font-size: 1.1rem;
   border-radius:5px ;
   -webkit-border-radius:5px ;
   -moz-border-radius:5px ;
   -ms-border-radius:5px ;
   -o-border-radius:5px ;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;
}
#email:focus,#message:focus,#email:hover,#message:hover{
    border: 1px solid var(--title);
}

.textarea {
    display: flex;
    align-items: center;
}
#message {
min-height: 6rem;
resize: vertical;
}
.submit{
    all: unset;
    border:1px solid rgba(65, 67, 78, 0.37);


    background-color: rgba(36, 37, 46, 1);
    width: 8rem;
    padding: 0.5rem 0;
    text-align: center;
    font-style: 1.05rem;
    text-transform: capitalize;
    opacity: .7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    cursor: pointer;
    -o-transition: 0.3s;
    margin-top: 1rem;
}
.submit:hover {
    opacity: 1;
    border:1px solid rgb(65, 67, 78);


    
  }
@media (max-width :800px) {
    .animation{
        display: none;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        /* align-items: start; */
        /* justify-content: center; */
    }
    form .flex{ 
        flex-direction: column;
        align-items: start;
       
    }
    label{
        margin-bottom: 1rem;
        text-align: center;
    }

    section #email , #message{
        width: 100%;

        margin-left: -0rem;

        padding: 1rem .5rem;
    }
    section #email {
        margin-left: -0rem;
        padding: 1rem .5rem;
    }
    .submit{ 
width: 40%;
align-self: center;
    }
    .formInputContact{
        border: 1px solid red;
        display: flex;
        justify-content: space-between;
    align-items: center;}

    /* @media (max-width:1000px) {
        .animation {
            display: none;
        }
        
    }
        */
