.footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
footer div p a {
    color: var(--title);
}
.icons-footer{
    display: flex;
    gap: 2rem;

}