.mainProject {
  display: flex;
  gap: 2.5rem;
  align-items: start;
  /* border: 1px solid red; */
}

.l-section {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.l-section button {
  all: unset;
  background-color: rgba(36, 37, 46, 1);
  width: 11rem;
  padding: 0.75rem 0;
  text-align: center;
  font-style: 1.05rem;
  text-transform: capitalize;
  opacity: 0.5;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  cursor: pointer;
  -o-transition: 0.3s;
}
.l-section button:hover {
  opacity: 1;
}
.l-section button:first-child {
  opacity: 1;
  letter-spacing: 0.6px;
  border: 1px solid var(--blue);
}
.r-section{
justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}
.icon-card {
  justify-content: space-between;
  align-items: center;
}
.icon-card a {
  /* align-items: center; */
  color: var(--blue);
}
.icon-card svg {
  color: var(--subtitle);
  font-size: 1.2rem;
}
.icon-card svg:hover {
  cursor: pointer;
  transition: 0.3s;
  color: var(--title);
  scale: 1.1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.box {
  width: 266px;
  padding: 1rem 0.4rem;
}
article img {
  width:     100%;
  height: 180px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.card {
    width: 254px;
   
  border: 1px solid rgba(93, 188, 252, 0.3);
  user-select: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: linear-gradient(rgba(128, 128, 128, 0.4) , rgba(128, 128, 128, 0.4));
}
.card:hover {
    rotate: 1deg;
    scale: 1.01;
  border: 1px solid var(--blue);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.title-card {
  /* width: 100%; */
  font-size: 1.1rem;
  margin-bottom: -1.4rem;
  /* margin-top: 1.4rem; */
  color: var(--title);
}
.card .box .subtitle {
  font-size: 0.8rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.link a {
  display: flex;
  /* align-items: center ; */
  justify-content: center;
  align-self: end;

  margin-right: 12px;
}

@media (max-width:600px) {
    .mainProject{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .l-section{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .l-section button{
width: 7rem; padding: 0.8rem 0;
font-size: .9rem    ;
        
    }
}