nav {
    background-color: var(--border);
    padding: 0.77rem 1.6rem;
    border-radius: 55px;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    -ms-border-radius: 55px;
    -o-border-radius: 55px;
    box-shadow: 1px 1px 40px rgb(55, 55, 55);
}

header.flex {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1rem;
}

header ul {
    gap: 16px;
}

header ul li a {
    color: var(--title);
    opacity: 0.9;
    transition: 0.2s;
    font-style: 0.88rem;
    font-weight: 500;
text-align: center;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

header ul li a:hover {
    opacity: 1;
    color: var(--blue);
    font-style: 0.9rem;
}

header button {
    font-style: 1.2rem;
}
button svg {
    margin: auto;
}
.FiMenu{
   display: flex;
    align-items: center;
}
button,
.mode {
    background: var(--border);
    color: var(--subtitle);
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1971838c;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.menu:hover,
.mode:hover {
    
    scale: 1.1;
    border: 1px solid #197183;
}

.menu {
    display: none;
}

header .fixed {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    inset: 0;
    z-index: 11;
    background-color: rgba(40, 40, 48, 0.91);
    backdrop-filter: blur(4px);
}
.close{
    all: unset;
    color: var(--subtitle);
    transition: 0.3s;
    /* margin-bottom: 1rem; */
    border: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    
} .close:hover{
    font-style: 1.7rem;
    color: crimson;
    scale: 1.1;
}

@keyframes animation {
    0% {
        scale: 0;
    }

    60% {
        scale: 1.3;
    }

    100% {
        scale: 1;
    }
}
header .fixed .modal li:first-child{
    text-align: right;
    border: none;
    padding-bottom: 0;
    padding-top: 0.2rem;
    margin-bottom: -1rem;
}

header .fixed .modal {
    animation: animation 0.9s 1;
    width: 80%;
    margin-inline: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--secondary);
    -webkit-animation: animation 0.9s 1;
}

header .fixed .modal li {
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.8rem;
    padding-top: 0.5rem;
}



header .fixed .modal li:last-child {
    border: none;
}

header .fixed .modal li a {
    font-size: 1rem;
}

@media (max-width: 767px) {
    nav {
        display: none;
    }
    header{
        display: flex;
align-items: center;
    }

    .menu {
        display: block;
    }
    .find{
        display: none;
    }
}