@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;400;500;700&display=swap");

:root {
  --primary: #000;
  --border: rgba(63, 63, 70, 0.4);
  --secondary: rgb(24 24 27);
  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);
  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(73, 188, 252);
  --paddingDivider: 2rem;
}

html {
  font-family: "Righteous", cursive;
  background-color: var(--primary);
  font-family: "Roboto", sans-serif;
}

.light {
  --primary: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
}

/* ========scroll bar ============ */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #313133;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

/* ::-for Firefox */
html {
  scroll-behavior: smooth;
  scrollbar-color: #9e4673 #3d4a59;
}

/* ========scroll bar ============ */

.container {
  background-color: var(--secondary);
  color: #fff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--paddingDivider);
  border: 1px solid var(--border);
}

@media (max-width: 600px) {
  .container {
    width: 95%;
    padding: 0 var(--paddingDivider);
  }
  .icon-fixed{
    opacity: .5;
  }
  .divider {
    --paddingDivider: 1.7rem;
    width: calc(100% + var(--paddingDivider) + var(--paddingDivider));
    margin-left: calc(var(--paddingDivider) * -1);
  }
}

@media (max-width: 1000px) {
  .container {
    --paddingDivider: 1.7rem;
    width: 90%;
    padding: 0 var(--paddingDivider);
  }

  .divider {
    --paddingDivider: 1.7rem;
    width: calc(100% + var(--paddingDivider) + var(--paddingDivider));
    margin-left: calc(var(--paddingDivider) * -1);
  }
}

.divider {
  margin: 3rem 0;
  width: calc(100% + var(--paddingDivider) + var(--paddingDivider));
  margin-left: calc(var(--paddingDivider) * -1);
  border: 1px solid var(--border);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
}
button {
  all: unset;
  background-color: ;
}
.icon-fixed {
  background-color: rgba(128, 128, 128, 0.5);
  width: 30px;
  height: 30px;
  border-radius: 50%;
 border: 1px solid #fff;
  position: fixed;
  bottom: 3%;
  text-align: center;
  right: 3rem;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.icon-fixed:hover{
  background-color: gray;

}
.flex {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.spinner{
  width: 100%;
  height: 100vh;
/* background-color: gray; */
display: flex;
flex-direction: column;

align-items: center;
justify-content: center; }
.spinner h1{
margin: 50px;
  color: #FFF;

}
.spinner 
.PacmanLoader {
  color: #1e1e69;
}
.imgSkills div img{
width: 80px;
}